.dashboard-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secundario);
    padding: 1rem;
    font-weight: bold;
    color: var(--color-texto);
    margin-top: auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.footer-left,
.footer-right,
.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.footer-left p,
.footer-right p,
.footer-center p {
    margin: 0.5rem 0;
    color: var(--color-texto);
}

.footer-link {
    margin: 0.25rem 0;
    font-weight: bold;
    color: var(--color-fondo);
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.active-link {
    text-decoration: underline;
    color: var(--color-texto);
}

/* Responsive */
@media (max-width: 768px) {
    .dashboard-footer {
        flex-direction: column;
        text-align: center;
        font-size: 13px;
    }
}
