.navbar-custom {
    background-image: url('../img/m1.jpg');
    background-size: cover;
    background-position: 50% 56%;
    border-bottom: #212529 1px solid;
    display: flex;
    justify-content: center;
    height: fit-content;
    align-items: center;
    font-family: Arial, sans-serif;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    text-decoration: none;
    color: var(--color-texto);
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 4px;
}

.navbar-links a.active-link {
    color: var(--color-primario);
    font-weight: bold;
    text-decoration: underline;
}

.navbar-links a:hover {
    color: var(--color-primario);
}

.logo {
    margin: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h2{
    font-size: 31px; /* Aumentar el tamaño del título */
    color: var(--color-texto);
    margin: 0;
    text-align: center;
    font-weight: 600;
}
.logo img {
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
}

/* Smartphones (pantallas pequeñas) */
@media (max-width: 600px) {
  .navbar {
      flex-direction: column;
      height: auto;
      padding: 10px;
      gap: 10px;
  }

  .navbar-links {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .navbar-links.active {
      display: flex;
  }

  .navbar-links ul {
      flex-direction: column;
      gap: 20px;
      padding: 0;
      margin: 0;
  }

  .navbar-links li {
      display: block;
      width: 100%;
      text-align: center;
  }

  .navbar-links a {
      font-size: 16px;
      padding: 10px 15px;
      display: block;
      width: 100%;
      color: #333;
      text-decoration: none;

  }

    .navbar-links a.active-link {
        background-color: #f0f0f0;
        font-weight: bold;
    }

  .btn-logout {
      margin-top: 10px;
      justify-content: center;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      padding: 10px 0;
  }

  .logo {
      margin: 0;
      justify-content: center;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
  }

  .logo img {
      width: 40px;
      height: 40px;
  }
  .logo h2{
      font-size: 20px; /* Aumentar el tamaño del título */
      margin: 0;
      text-align: center;
      font-weight: 600;
  }

    /* Estilo del encabezado del Offcanvas */
    .offcanvas-header-estilo {
        background-image: url('../img/m1.jpg');
        background-size: cover;
        background-position: 50% 56%;
        padding: 1rem;
        border-bottom: 1px solid #dee2e6;
    }

    /* Estilo del título */
    .offcanvas-title-estilo {
        color: #000000;
        font-size: 2rem;
        font-weight: bold;
    }

    /* Estilo del cuerpo del Offcanvas */
    .offcanvas .custom {
        background-color: #ffffff; /* Fondo claro */
        padding: 1.5rem;
    }

    /* Lista de enlaces */
    .list-offcanvas-enlaces ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .list-offcanvas-enlaces li {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .list-offcanvas-enlaces a {
        text-decoration: none;
        color: #007bff;
        font-weight: 500;
        transition: color 0.3s ease;
    }

    .list-offcanvas-enlaces a:hover {
        color: #0056b3;
    }

}


/* Tablets (pantallas medianas) */
@media (min-width: 601px) and (max-width: 1024px) {
    .navbar {
        flex-direction: row;
        height: auto;
        padding: 10px;
        gap: 10px;
    }
    
    .navbar-links {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .navbar-links ul {
        flex-direction: row;
        gap: 20px;
    }
    
    .navbar-links li {
        display: inline;
    }
    
    .navbar-links a {
        font-size: 16px;
        padding: 10px 15px;
    }
    
    .btn-logout {
        margin-top: 0;
        justify-content: center;
        width: auto;
        padding: 10px 40px;
        

    }
    
    .logo {
        justify-content: center;
        width: auto;
        margin: 0;
    }
    /* Estilo para los enlaces dentro del Offcanvas */
    .list-offcanvas-enlaces ul,
    .list-offcanvas-enlaces li {
        list-style: none;
        padding: 1rem;
        font-size: 1.5rem;
        text-align: left;
        margin: 0;
    }

    /* Encabezado del Offcanvas */
    .offcanvas-header-estilo {
        border-bottom: 1px solid #ddd;
        background-image: url('../img/m1.jpg');
        background-size: cover;
        background-position: center;
    }

    .offcanvas-title-estilo {
        font-size: 30px;
        color: var(--color-texto);
        text-align: center;
        font-weight: 600;
        width: 100%;
    }
}
