.panel-proveedores {
    width: 100%;
    max-width: 420px;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 300px;
    font-size: 1rem;
}

.panel-proveedores:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.proveedores-contenido{
    font-size: 1em;
    margin-bottom: 14px;
    color: #444;
    line-height: 1.5;
}
.proveedores-contenido p{
    overflow:  hidden;
    text-overflow: ellipsis;
}
.acciones {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action-button {
    padding: 0.5rem 1rem;
    width: auto;
    font-size: 1em;
}

.panel-proveedores-titulo {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--color-primario);
    border-bottom: 2px solid var(--color-primario);
    padding-bottom: 10px;
    text-align: center;
    min-height: 60px; /* Asegura que todos los títulos ocupen el mismo espacio */
}

.panel-proveedores p {
    text-align: left;
    margin: 0;
}

