.usuario-container {
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 100%;
  background-color: #f4f4f4;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #333;
}
/* Título */
.usuario-container h1 {
  font-size: 31px; /* Aumentar el tamaño del título */
  color: var(--color-texto);
  margin: 0;
  text-align: center;
  font-weight: 600;
  padding: 2rem;
}

/* Tabla de datos */
.usuario-datos table {
  margin: 2rem auto;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.usuario-datos td {
  padding: 1rem;
  border: 1px solid #ddd;
  font-size: 16px;
  color: #555;
}

.usuario-datos td:first-child {
  font-weight: bold;
  text-align: justify;
  width: 30%;
}

.usuario-datos td:last-child {
  text-align: left;
  width: 70%;
}
.usuario-datos input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-icon {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--color-primario);
  margin-bottom: 1rem;
}

.dropdown-custom{
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 10px;
}

@media (max-width: 600px) {
  .usuario-container h1{
    font-size: 1.5rem; 
    margin-bottom: 0;
    padding: 10px;
  }

  .usuario-datos table {
    width: 90%; 
  }

  .usuario-datos td {
    font-size: 14px; 
  }
  .profile-icon{
    width: 30%;
  }
}
@media (max-width: 901px) {
  .usuario-container h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: 1rem;
  }
  .usuario-datos table {
    width: 90%;
  }
  .usuario-datos td {
    font-size: 1em;
  }
  .profile-icon{
    width: 25%;
  }
}
@media (max-width: 1024px) {
  .usuario-container h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: 1rem;
  }
  .usuario-datos table {
    width: 90%;
  }
  .usuario-datos td {
    font-size: 14px;
  }
  .profile-icon{
    width: 20%;
  }
}