/* Panel de producto */

 .panel-producto {
    border: 2px solid #ddd;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
 }

  .panel-producto:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .panel-info{
      height: 50%;
  }

  .panel-info h3{
      padding: 10px;
  }

  .panel-imagen{
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  .panel-producto-descripcion {
    font-size: 16px;
    margin-bottom: 15px;
    color: #555;
    padding: 10px;
  }
  
  .panel-producto-valor {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-secundario);
    padding: 10px;
  }
  .panel-producto p{
    text-align: justify;
  }


  /* RESPONSIVE */
  @media (max-width: 600px) {
    .panel-producto {
      max-width: 100%; 
      padding: 15px; 
    }
  
    .panel-producto-nombre {
      font-size: 20px; 
    }
  
    .panel-producto-descripcion {
      font-size: 14px; 
    }
  
    .panel-producto-valor {
      font-size: 16px;
    }
  }
