.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../img/m1.jpg');
  background-size: cover;
  background-position: center;
  padding: 1rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 1.5rem;
}

.register-encabezado {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.register-encabezado h2 {
  text-align: center;
  font-size: 24px;
  color: var(--color-primario);
}

.register-encabezado p {
  text-align: center;
  font-size: 16px;
  color: #666;
}

.register-empresa {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.register-empresa label {
  display: block;
  font-size: 16px;
  color: #333;
  margin-bottom: 0.2rem;
}

.register-empresa input {
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 1rem;
}

.register-links {
  padding: 1.0rem;
  text-align: center;
}

.register-links a {
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
  margin: 0 10px;
}

.register-links a:hover {
  text-decoration: underline;
}

.register-links p {
  text-align: center;
  font-size: 15px;
  color: #555;
}

@media (max-width: 600px) {
  .register-container {
    padding: 20px;
  }

  .register-form {
    width: 100%;
    padding: 10px;
  }

  .register-encabezado h2 {
    font-size: 20px;
  }

  .register-encabezado p {
    font-size: 14px;
  }

  .register-empresa label,
  .register-empresa input,
  .register-links a,
  .btn-registro button {
    font-size: 14px;
  }
}
