/* Contenedor principal */
.stock-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;

  }
  
  /* Contenido principal */
  .stock-content {
    flex: 1;
    padding: 20px 40px;
    background-color: var(--color-fondoMain);
    color: var(--color-texto);
  }

  .stock-content h1{
    font-size: 31px; /* Aumentar el tamaño del título */
    color: var(--color-texto);
    margin: 0;
    padding: 10px;
    text-align: center;
    font-weight: 600;
  }

  
  /*RESPONSIVE*/
  @media (max-width: 600px) {
    .stock-estadisticas {
      flex-direction: column;
      gap: 10px;
    }
  
    .stock-estadistica-tarjeta {
      flex: none;
      width: 100%;
    }
  }
