.stock-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;

}

.stock-table th,
.stock-table td {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}


.stock-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  font-size: 18px;

}

.stock-table th:nth-child(1),
.stock-table td:nth-child(1) {
    width: 30%; /* Nombre */
}

.stock-table th:nth-child(2),
.stock-table td:nth-child(2) {
    width: 20%; /* Cantidad */
}

.stock-table th:nth-child(3),
.stock-table td:nth-child(3) {
    width: 20%; /* Precio */
}

.stock-table th:nth-child(4),
.stock-table td:nth-child(4) {
    width: 30%; /* Estado */
}

/*BANNER DE ALERTA DE PRODUCTO AGOTADO*/
.alerta-stock-agotado {
    position: relative;
    overflow: hidden;
    height: 40px;
    background-color: #ffe5e5;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 20px;
}

.alerta-texto {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: moverTexto 40s linear infinite;
    font-weight: bold;
    color: #a94442;
    line-height: 40px;
}

@keyframes moverTexto {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* Alternar colores en las filas */
.stock-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.stock-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

/* Efecto hover para las filas */
.stock-table tbody tr:hover {
  background-color: #f0f8ff;
  transition: background-color 0.3s ease; /* Suaviza la transición */
}

.estado-bajo {
  color: red;
  font-weight: bold;
  text-transform: uppercase;

}

.estado-medio {
  color: orange;
  font-weight: bold;
  text-transform: uppercase;

}

.estado-normal {
  color: green;
  font-weight: bold;
  text-transform: uppercase;

}

/*RESPONSIVE*/
@media (max-width: 600px) {
  .tabla-con-scroll{
    max-height: none; 
    overflow-y: none; 
  }
 
  .stock-table, .stock-table thead, .stock-table tbody, .stock-table th, .stock-table td, .stock-table tr {
     display: block; /* Hace que cada elemento sea un bloque */
  }
  
 .stock-table thead tr {
   display: none; 
   }
  
  .stock-table tr {/*MARGIN ENTRE TABLA*/
   margin: 0 0 1rem 0;
  }
  
  .stock-table td {
  border-bottom: 1px solid #ddd;
  position: relative;
  text-align: center; 
  }
  
 
}