/* Fondo oscuro para el modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
  }
  
  /* Contenedor del modal */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out; /* Animación de entrada */
  }
  
  /* Título del modal */
  .modal-content h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
  }
  
  /* Estilos para los labels */
  .modal-content label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
  }
  
  /* Estilos para los inputs */
  .modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  /* Contenedor de botones */
  .modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  /* Botones dentro del modal */
  .modal-buttons .action-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #007bff;
    color: white;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
  }
  
  .delete-button:hover {
    background-color: #a71d2a;
  }
  
  /* Animación de entrada */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }