/* Fondo oscuro para el modal */
.modal-overlay-editar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content-editar {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .modal-content-editar h3 {
    margin-bottom: 1rem;
    font-size: 25px;
    color: var(--color-primario);
  }
  
  .modal-content-editar label {
    display: block;
    font-weight: bold;
    text-align: left;
  }
  
  .modal-content-editar input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  

  
  /* Animación de entrada */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }